.vs
.git
Debug
x64
log.txt
debug.jpg
out.jpg
out.txt
Photo-Based-Clothing-Measurements.vcxproj
Photo-Based-Clothing-Measurements.vcxproj.filters
Photo-Based-Clothing-Measurements.vcxproj.user
Photo-Based-Clothing-Measurements.sln